<div class="recent-sales box" style="width: 100%;">
    <h5>{% if userObj %} Update for <b><u>{{userObj.username}}</u></b> {% else %} Create New User {% endif %}</h5>
    {% if userObj %}
        <form method="POST" action="/update-user/{{userObj.id}}">
    {% else %}
        <form method="POST" action="/create-new-user">
    {% endif %}
        {% csrf_token %}
        <div class="sales-details" style="display: block;">
            <div class="form-row">                
                <div class="col-md-4 mb-3">
                    <label for="product_token">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="xyz" value="{{userObj.first_name}}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="product_token">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="xyz" value="{{userObj.last_name}}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="product_token">UserName</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="xyz" value="{{userObj.username}}" required>
                </div>
                
                <div class="col-md-4 mb-3">
                    <label for="product_token">Email</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="abcd" value="{{userObj.address}}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="product_token">Mobile Number</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="abcd" value="{{userObj.mobile}}" required>
                </div>
                
            </div>
            <button class="btn btn-primary" type="submit">{% if userObj %} Update {% else %}Save {% endif %}</button>
        </div>
    </form>
</div>